/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
* Box-Sizing
*/

html{
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*
* Style Généraux
*/

body{
	color: white;
	font-family: helvetica, verdana, sans-serif;
	line-height: 1.4em;
	background: #ccc4b9 url("img/design/background.jpg") no-repeat fixed;
}

#wrapper{
	position: relative;
	max-width: 1200px;
	box-sizing: content-box;
	margin: auto;
	padding: 1.7em;
}

#wrapper>*{
	box-sizing: border-box;
}

h1, h2, h3, nav{
	font-family: essence_sansregular, helvetica, verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

h1{	
	font-family: essence_sanslight, essence_sansregular, helvetica, verdana, sans-serif;
	font-size: 2em;
	line-height: 2em;
	font-weight: lighter;
}

h2, h3{
	font-size: 1em;
	margin-bottom: 1em;
}

a{
	color: inherit;
	text-decoration: inherit;
}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}

p, .video-container{
	margin: 1.5em 0;
}

.fa{
	font-size: 36px;
}

.fa-linkedin, .fa-facebook{
	width: 36px;
	height: 36px;

	color: #e6e5e7;
	background-color: #404040;
}

.fa-linkedin{
	padding-top: 5px;
	padding-left: 7px;
	font-size: 28px;
}

.fa-facebook{
	padding-top: 5px;
	padding-left: 11px;
}

.block{
	padding: 2.5% 4.5%;
}

.main-block{
	color: #474747;
	background-color: white;
}

.grey-block{
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #e8e7e8;
}

.no-margin{
	margin: 0;
}

nav a{
	display: inline-block;
	margin-left: 1em;
}

/*
*	Header
*/

#main-header{
	position: relative;
	height: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact{
	display: flex;
	align-items: center;
}

#btnRetour{
	text-transform: uppercase;
	font-family: helvetica, verdana, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
}

/*
*	Contenue
*/

/*Vidéo*/
.video-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 9/16, pour éviter le letterboxing */
	background-color: #404040;
}

.play-button-container{
	position: absolute;

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.play-button-container .fa-play{
	font-size: 150px;
	color: #1f1f1f;
}

video{
	position: absolute;
	width: 100%;
	height: 100%;
}

/*Bloc de code inline*/
code{
	background-color: #e8e7e8;
	font-family: monospace;
	padding: 0.3em;

}

/*Bloc de code*/
code.codeblock{
	display: block;
	position: relative;
	border: 1px dashed #404040;
	padding: 2em;
	margin-top: 3.2em;

	white-space: pre-wrap;
	overflow: visible;
}

code.codeblock::before{
	display: block;
	position: absolute;

	height: 1.5em;
	top: -1.7em;
	left: 0;

	font-family: essence_sansregular, helvetica, verdana, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.2em;
	content: "Code: " attr(lang) " / " attr(legende);
}

/*Images*/
#content img{
	display: block;
	max-width: 100%;
	margin: 1.5em auto;
}

/*
*	Footer
*/

#copyright{
	width: 75%;
}

footer .grey-block{
	align-items: flex-end;
}